<nav class="bg-white  flex items-center justify-between px-48 py-3 ">
<div class="">
    <img class="w-12" src="./assets/imgs/logo.png" alt="">
</div>
<ul class="list-none flex gap-6">
<li class="links"> <a routerLink="quran" routerLinkActive="active"> <img class="w-7" src="./assets/imgs/quran.png" alt="">قرأن كريم</a></li>
<li class="links"> <a routerLink="azkar" routerLinkActive="active"> <img class="w-7" src="./assets/imgs/azkar.png" alt="">الاذكار</a></li>
<li class="links"> <a routerLink="azan" routerLinkActive="active"> <img class="w-7" src="./assets/imgs/mosque.png" alt="">اذان</a></li>
</ul>
<div>
</div>
</nav>
