$gray-1 : #f9f9f9;
$gray-2 : #f1f1f1;
$gray-3 : #dcdcdc;
$gray-4 : #9e9ea7;
$white:#fff;
$dark-green:#02af8f;
$light-green:#76c853;
$green: #66b943;

.quran-sec {

    .links {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #f9f9f9;
            color: #66b943;
            border-radius: 5px;
            font-weight: 700;
            padding: 7px 15px;
            width: 170px;
            
        }
        a.active {
            background-image: linear-gradient( 
            90deg ,
            $dark-green, 
            $light-green
            );
            color: $white;
            img {
                filter: brightness(100);
            }
        }
    }
    
    .main-title {
        font-size: 30px;
        color:$green ;
        font-weight: 700;
    }
    .search-inp  {
        padding:5px 20px;
        background-color: $gray-2;
        transition: all 1s;
        font-family: "Amiri", serif;
        &:focus {
            outline: none;
            border-color: rgba(53, 197, 106, 0.4);
            background-color: var(--white);
            box-shadow: 0 0 0 4px rgba(69, 220, 94, 0.1);
        }
        &::placeholder {
            color: $gray-4;
        }
    }
    .search-btn {
        padding:5px 20px;
        color: $gray-4;
        background-color: $gray-2;
        transition: all 1s ;
        &:hover {
            background-color: $gray-4;
            color: $gray-2;
        }
    }
    .search {
        datalist {
            background-color: $white;
            color: #000;
            option {
                background-color: #fff;
                color: #000;
            }
        }
        
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        .surah {
            background-image: linear-gradient(
                90deg , 
                $dark-green,
                $light-green
            );
            
        }
        .surah-box {
            &::-webkit-scrollbar {
            width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: $gray-3;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $green;
                max-height: 5px !important;
            }
        }
    }
    
    .display-surah {
        padding: 0px 10px;
        padding-top: 30px;
        text-align: center;
        &::-webkit-scrollbar {
            padding-left: 20px;
            width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: $gray-1;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $green;
                max-height: 5px !important;
            }
    }
    .ayah-num {
        font-size: 1.2rem;
        font-weight: 600;
        color: $dark-green;
    }
    .ayah {
        // font-family: "Amiri", serif;
        font-family: "Noto Kufi Arabic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 1.6rem;
        margin: 10px 5px;
        line-height: 2;
        &:first-child {
            margin-right: 0;
        }
    }
    .surah-header {
        padding-bottom: 10px;
    }
    
}
@media (max-width: 575.98px) {
    section {
        width: 100%;
    }
    .search {
        width: 100%;
    }
    .surah-box {
        display: none;
    }
    .ayah {
        font-size: 1.3rem !important;
    }

}
@media (max-width: 767.98px) { 
    section {
        width: 100% !important;
    }
    .search {
        width: 100%;
    }
    .surah-box {
        display: none;
    }
} 
@media (max-width: 991.98px) { 
    section {
        width: 100%;
    }
    
    .surah-view {
        width: 100%;
        margin-top: 10px;
        height: 50%;
        overflow: auto;
    }
    .display-surah {
        height: 350px;
    }
    .quran-sec {
        padding-inline: 20px;
    }
}