$gray-1 : #f9f9f9;
$gray-2 : #f1f1f1;
$gray-3 : #dcdcdc;
$gray-4 : #9e9ea7;
$white:#fff;
$dark-green:#02af8f;
$light-green:#76c853;
$green: #66b943;

.card {
    background-color: $white;
    padding: 40px 80px;
    border-radius: 10px;
    transition: all 1s ;
    &:hover {
        background-color: #02af8f;
        p {
            color: $white;
        }
        img {
            filter: brightness(100);
        }
        .bglinear {
            background: linear-gradient($white ,$white);
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
        }
    }
    img {
        transition: all 1s;
    }
}
.bglinear {
    transition: all 1s !important;
    background: linear-gradient(
        180deg,
        $light-green,
        $dark-green
    );
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

@media (max-width: 575.98px) {
    .card {
        padding: 20px 40px;
    }
    .card-img {
        width: 96px  !important;
    }
    .bglinear {
        font-size: 96px;
    }
}