<section class="mt-14 flex items-center justify-center max-h-[80vh] gap-5">
    <div routerLink="/quran-reading" class="card cursor-pointer">
        <div class="card-img">
            <img class="w-32" src="../../../assets/imgs/quran.png" alt="">
        </div>
        <p class="text-center text-2xl font-semibold text-lime-500">قراءه</p>
    </div>
    <div routerLink="/quran-listen" class="card cursor-pointer">
        <div class="card-img">
            <i class="fas fa-headphones text-9xl bglinear"></i>
        </div>
        <p class="text-center text-2xl font-semibold text-lime-500">استماع</p>
    </div>
</section>