<section class="w-3/4 mx-auto azkar-sec max-h-[70vh] mt-14">
    <div class="azkar-container flex gap-5">
        <div class="zikr text-start ">
            <div>
                <p>أذكار الصباح</p>
                <p>27ذكر</p>
            </div>
            <div>
                <img class="w-12 zikr-img" src="../../../assets/imgs/sun.png" alt="">
            </div>
        </div>
        <div class="zikr text-start">
            <div>
                <p>أذكار الصباح</p>
                <p>27ذكر</p>
            </div>
            <div>
                <img class="w-12 zikr-img" src="../../../assets/imgs/sun.png" alt="">
            </div>
        </div>
        <div class="zikr text-start">
            <div>
                <p>أذكار الصباح</p>
                <p>27ذكر</p>
            </div>
            <div>
                <img class="w-12 zikr-img" src="../../../assets/imgs/sun.png" alt="">
            </div>
        </div>
        <div class="zikr text-start">
            <div>
                <p>أذكار الصباح</p>
                <p>27ذكر</p>
            </div>
            <div>
                <img class="w-12 zikr-img" src="../../../assets/imgs/sun.png" alt="">
            </div>
        </div>
    </div>
</section>