$gray-1 : #f9f9f9;
$gray-2 : #f1f1f1;
$gray-3 : #dcdcdc;
$gray-4 : #9e9ea7;
$white:#fff;
$dark-green:#02af8f;
$light-green:#76c853;
$green: #66b943;
.zikr {
    color: $white;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    width: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-image: linear-gradient(
        90deg,
        $dark-green,
        $light-green
    );
    .zikr-img {
        position: absolute;
        bottom: -10px;
        left: -10px;
        width: 90px;
    }
}
.zikr-text {
    padding: 0px 10px;
    font-weight: 600;
    padding-top: 20px; 
    text-align: center;
    font-family: "Amiri", serif;
    font-size: 1.7rem;
    height: 160px;
    margin: 10px 5px;
    line-height: 1.7;
    &:first-child {
        margin-right: 0;
    }
}


@media (max-width: 991.98px) { 
    .zikr-text {
        font-size: 16px;
        height: 130px;
        line-height: 1.4;
    }
    section {
        width: 100%;
    }
    .heading {
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
    .zikr-count {
        font-size: 16px;
        height: auto;
        line-height: 1.4;
    }
    .zikr {
        font-size: 14px;
        padding: 5px 20px;
    }
    
}